---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Zachary Matus
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/zmatus" target="_blank" class="font-bold">Zachary Matus</a> using
    <span class="font-bold">astro ⚡️</span>
  </div>
</footer>
<style></style>